<center><h1>All Charities</h1></center>


<table>
    <thead>
        <tr>
        <th><h2>Name</h2></th>
        <th><h2>Description</h2></th>
        <th colspan="10"></th>
        </tr>
    </thead>


    <tbody>
        <% @charities.each do |charity| %>
            <tr>
            </tr>
        <% end %>

</table>